.leftpanel {
    display: flex;
    align-items: center;
    position: absolute;
    left: 40px;
    top: 100px;
    border-radius: 15px;
    width: 250px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.8);
}

.leftpanel .panel {
    position: absolute;
    top: 15px;
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0px 25px;
    z-index: 0;  
}

.leftpanel .title {
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 1;
}

.leftpanel .icon {
    align-items: center;
    gap: 15px;
    padding-top: 15px;
}

.leftpanel h1 {
    text-align: center;
    font-family: "Inria Sans-Bold", Helvetica;
    font-weight: 700;
    color: #091021cc;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    z-index: 1;
}

.leftpanel .text {
    position: absolute;
    top: 0;
    font-family: "Inria Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--collection-1-text-normal);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.leftpanel .titleimg {
    position: relative;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.leftpanel .img {
    position: relative;
    width: 20px;
    height: 20px;
}

.leftpanel .imgframe {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    position: relative;
    flex: 0 0 auto;
    border: none;
    background: none; 
    margin-right: 12px;
}

.leftpanel .parameter {
    width: 210px;
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.parabox {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    border: 0.5px solid #848791;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.twoblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.twoblock .parabox {
    width: 80px;
}

.parabox span {
    color: rgba(9, 16, 33, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

