.macbook-pro {
    background-color: #f1f7fc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-pro .overlap-wrapper {
    background-color: #f1f7fc;
    overflow: hidden;
    width: 1728px;
    height: 1117px;
  }
  
  .macbook-pro .overlap {
    position: relative;
    width: 2435px;
    height: 2722px;
    top: -731px;
    left: -415px;
  }
  
  .macbook-pro .group {
    position: absolute;
    width: 2435px;
    height: 2722px;
    top: 0;
    left: 0;
  }
  
  .macbook-pro .overlap-group {
    position: relative;
    height: 2722px;
  }
  
  .macbook-pro .ellipse {
    position: absolute;
    width: 1627px;
    height: 1627px;
    top: 1095px;
    left: 0;
    border-radius: 813.5px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(250, 255, 197, 0.06) 0%,
      rgba(250.29, 255, 196.5, 0) 100%
    );
  }
  
  .macbook-pro .div {
    position: absolute;
    width: 947px;
    height: 947px;
    top: 637px;
    left: 101px;
    border-radius: 473.5px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(210.42, 180.7, 255, 0.12) 0%,
      rgba(210, 181, 255, 0) 100%
    );
  }
  
  .macbook-pro .ellipse-2 {
    position: absolute;
    width: 1350px;
    height: 1350px;
    top: 0;
    left: 231px;
    border-radius: 675px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(158.84, 185.3, 255, 0.18) 0%,
      rgba(159, 185, 255, 0) 100%
    );
  }
  
  .macbook-pro .ellipse-3 {
    position: absolute;
    width: 867px;
    height: 867px;
    top: 1130px;
    left: 1568px;
    border-radius: 433.5px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(210.42, 180.7, 255, 0.12) 0%,
      rgba(210, 181, 255, 0) 100%
    );
  }
  
  .macbook-pro .img {
    position: absolute;
    width: 1726px;
    height: 1117px;
    top: 731px;
    left: 417px;
  }
  
  .macbook-pro .rectangle {
    position: absolute;
    width: 955px;
    height: 689px;
    top: 915px;
    left: 735px;
    background-color: #ffffffcc;
    border: 2px solid;
    border-color: #ffffff;
    box-shadow: 0px 0px 10px #3c70f90d;
  }
  
  .macbook-pro .group-2 {
    position: absolute;
    width: 1650px;
    height: 20px;
    top: 1815px;
    left: 455px;
  }
  
  .macbook-pro .group-3 {
    position: absolute;
    width: 218px;
    height: 18px;
    top: 0;
    left: 0;
  }
  
  .macbook-pro .text-wrapper {
    position: absolute;
    top: 0;
    left: 189px;
    font-family: "Inria Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--collection-1-text-normal);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .overlap-group-2 {
    position: absolute;
    width: 169px;
    height: 14px;
    top: 4px;
    left: 0;
  }
  
  .macbook-pro .rectangle-2 {
    position: absolute;
    width: 169px;
    height: 3px;
    top: 5px;
    left: 0;
    border-radius: 21px;
    background: linear-gradient(
      180deg,
      rgb(196.45, 196.45, 196.45) 0%,
      rgb(227.26, 227.26, 227.26) 100%
    );
  }
  
  .macbook-pro .ellipse-4 {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    left: 39px;
    background-color: var(--collection-1-text-normal);
    border-radius: 7px;
    border: 1px solid;
    border-color: #ffffff;
    box-shadow: 0px 0px 3px #0000001a;
  }
  
  .macbook-pro .vector {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 1593px;
  }
  
  .macbook-pro .mingcute-question {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 1628px;
  }
  
  .macbook-pro .p {
    top: 1px;
    left: 1470px;
    font-family: "Inria Sans-BoldItalic", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: var(--collection-1-text-light);
    position: absolute;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .tactile-editor {
    position: absolute;
    width: 134px;
    height: 18px;
    top: 751px;
    left: 514px;
  }
  
  .macbook-pro .overlap-group-wrapper {
    position: absolute;
    width: 45px;
    height: 36px;
    top: 741px;
    left: 455px;
  }
  
  .macbook-pro .overlap-2 {
    position: relative;
    width: 49px;
    height: 36px;
    left: -4px;
  }
  
  .macbook-pro .subtract {
    position: absolute;
    width: 25px;
    height: 23px;
    top: 13px;
    left: 4px;
  }
  
  .macbook-pro .ellipse-5 {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 0;
    left: 15px;
    background-color: #3c70f933;
    border-radius: 16.94px;
    box-shadow: 0px 0px 4px #3c70f940;
    backdrop-filter: blur(3.7px) brightness(100%);
    -webkit-backdrop-filter: blur(3.7px) brightness(100%);
  }
  
  .macbook-pro .ellipse-6 {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 4px;
    left: 19px;
    border-radius: 13.09px;
    border: 1.5px dashed;
    border-color: #ffffff;
  }
  
  .macbook-pro .ellipse-7 {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 8px;
    left: 23px;
    border-radius: 8.47px;
    border: 1.5px dashed;
    border-color: #ffffff;
  }
  
  .macbook-pro .ellipse-8 {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 13px;
    left: 28px;
    border-radius: 3.85px;
    border: 1.5px solid;
    border-color: #ffffff;
  }
  
  .macbook-pro .rectangle-3 {
    position: absolute;
    width: 22px;
    height: 24px;
    top: 9px;
    left: 0;
  }
  
  .macbook-pro .frame {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 28px;
    padding: 0px 40px;
    position: absolute;
    top: 753px;
    left: 1604px;
  }
  
  .macbook-pro .group-4 {
    position: relative;
    width: 102px;
    height: 25px;
  }
  
  .macbook-pro .frame-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .macbook-pro .img-2 {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .macbook-pro .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-family: "Inria Sans-Light", Helvetica;
    font-weight: 300;
    color: var(--collection-1-text-normal);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-pro .ellipse-9 {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 21px;
    left: 8px;
    background-color: var(--collection-1-text-normal);
    border-radius: 2px;
  }
  
  .macbook-pro .group-5 {
    position: relative;
    width: 59px;
    height: 25px;
  }
  
  .macbook-pro .group-6 {
    position: relative;
    width: 67px;
    height: 25px;
  }
  
  .macbook-pro .frame-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .macbook-pro .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-family: "Inria Sans-Light", Helvetica;
    font-weight: 300;
    color: var(--collection-1-text-light);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-pro .frame-4 {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 7px 8px;
    position: absolute;
    top: 1801px;
    left: 1081px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 0px 8px #3c70f926;
  }
  
  .macbook-pro .frame-5 {
    display: flex;
    width: 100px;
    height: 32px;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 0px 5px;
    position: relative;
    background-color: #ffffff33;
    border-radius: 8px;
    box-shadow: inset 0px 0px 10.9px #3c70f940;
  }
  
  .macbook-pro .vector-2 {
    position: relative;
    width: 15px;
    height: 16px;
  }
  
  .macbook-pro .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: "Inria Sans-Light", Helvetica;
    font-weight: 300;
    color: var(--collection-1-theme-color);
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .vector-3 {
    position: relative;
    width: 1px;
    height: 21.5px;
  }
  
  .macbook-pro .bxs-square-rounded {
    position: relative;
    width: 18px;
    height: 18px;
  }
  
  .macbook-pro .frame-6 {
    height: 32px;
    gap: 7px;
    padding: 0px 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .macbook-pro .img-3 {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .macbook-pro .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: "Inria Sans-Light", Helvetica;
    font-weight: 300;
    color: var(--collection-1-text-normal);
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .frame-7 {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    position: absolute;
    top: 752px;
    left: 894px;
  }
  
  .macbook-pro .vector-4 {
    position: relative;
    width: 1px;
    height: 15px;
  }
  
  .macbook-pro .frame-8 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .macbook-pro .frame-9 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .macbook-pro .frame-10 {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .macbook-pro .add-title-here {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 14px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .macbook-pro .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inria Sans-Light", Helvetica;
    font-weight: 300;
    color: var(--collection-1-text-normal);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-pro .frame-11 {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    padding: 10px 20px 6px;
    position: absolute;
    top: 1670px;
    left: 976px;
    border-radius: 8px;
    box-shadow: var(--panel-shadow);
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.5) 37.5%,
      rgba(255, 255, 255, 0.7) 100%
    );
  }
  
  .macbook-pro .frame-12 {
    display: flex;
    flex-direction: column;
    width: 40px;
    align-items: center;
    gap: 3px;
    position: relative;
  }
  
  .macbook-pro .img-4 {
    position: relative;
    width: 28px;
    height: 28px;
  }
  
  .macbook-pro .text-wrapper-7 {
    position: relative;
    width: fit-content;
    font-family: "Inria Sans-Light", Helvetica;
    font-weight: 300;
    color: var(--collection-1-text-normal);
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-pro .vector-5 {
    position: relative;
    width: 1px;
    height: 27.5px;
    margin-top: -0.25px;
  }
  
  .macbook-pro .frame-13 {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .macbook-pro .bx-text {
    position: relative;
    width: 24px;
    height: 28px;
  }
  
  .macbook-pro .div-wrapper {
    position: relative;
    width: 25px;
    height: 25px;
    top: 1px;
    left: 2px;
    border-radius: 12.6px;
    border: 2px dashed;
    border-color: var(--collection-1-text-normal);
  }
  
  .macbook-pro .ellipse-wrapper {
    position: relative;
    width: 17px;
    height: 17px;
    top: 4px;
    left: 4px;
    border-radius: 8.3px;
    border: 2px dashed;
    border-color: var(--collection-1-text-normal);
  }
  
  .macbook-pro .ellipse-10 {
    position: relative;
    width: 8px;
    height: 8px;
    top: 2px;
    left: 2px;
    border-radius: 4px;
    border: 1.5px solid;
    border-color: var(--collection-1-text-normal);
  }
  
  .macbook-pro .text-wrapper-8 {
    width: fit-content;
    margin-left: -6.50px;
    margin-right: -6.50px;
    font-family: "Inria Sans-Light", Helvetica;
    font-weight: 300;
    color: var(--collection-1-text-normal);
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-left: -1.00px;
    margin-right: -1.00px;
    font-family: "Inria Sans-Light", Helvetica;
    font-weight: 300;
    color: var(--collection-1-text-normal);
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-pro .frame-14 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 5px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .macbook-pro .group-7 {
    position: relative;
    width: 42px;
    height: 20px;
    background-color: var(--collection-1-theme-color);
    border-radius: 4px;
    border: 0.5px solid;
    border-color: var(--collection-1-text-normal);
  }
  
  .macbook-pro .iconly-sharp-bold-wrapper {
    position: relative;
    width: 20px;
    height: 18px;
    top: 1px;
    left: 21px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 2px #00000026;
  }
  
  .macbook-pro .iconly-sharp-bold {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 3px;
    left: 4px;
  }
  
  .macbook-pro .group-8 {
    position: absolute;
    width: 252px;
    height: 235px;
    top: 827px;
    left: 455px;
    border-radius: 12px;
    box-shadow: var(--panel-shadow);
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.5) 37.5%,
      rgba(255, 255, 255, 0.7) 100%
    );
  }
  
  .macbook-pro .group-9 {
    position: absolute;
    width: 204px;
    height: 196px;
    top: 20px;
    left: 21px;
  }
  
  .macbook-pro .overlap-3 {
    position: absolute;
    width: 126px;
    height: 26px;
    top: 44px;
    left: 0;
  }
  
  .macbook-pro .rectangle-4 {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 0;
    background-color: #3c70f9cc;
    border-radius: 2px;
  }
  
  .macbook-pro .frame-15 {
    position: absolute;
    width: 120px;
    height: 14px;
    top: 6px;
    left: 6px;
  }
  
  .macbook-pro .group-10 {
    position: absolute;
    width: 104px;
    height: 29px;
    top: 89px;
    left: 0;
  }
  
  .macbook-pro .overlap-group-3 {
    position: relative;
    width: 100px;
    height: 29px;
    border-radius: 4px;
  }
  
  .macbook-pro .text-wrapper-10 {
    position: absolute;
    top: 6px;
    left: 10px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-text-normal);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-11 {
    left: 78px;
    position: absolute;
    top: 6px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-text-normal);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .rectangle-5 {
    position: absolute;
    width: 100px;
    height: 29px;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 0.5px solid;
    border-color: var(--collection-1-text-normal);
  }
  
  .macbook-pro .group-11 {
    position: absolute;
    width: 208px;
    height: 29px;
    top: 128px;
    left: 0;
  }
  
  .macbook-pro .overlap-4 {
    position: relative;
    width: 204px;
    height: 29px;
    border-radius: 4px;
  }
  
  .macbook-pro .text-wrapper-12 {
    left: 172px;
    position: absolute;
    top: 6px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-text-normal);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .rectangle-6 {
    position: absolute;
    width: 204px;
    height: 29px;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 0.5px solid;
    border-color: var(--collection-1-text-normal);
  }
  
  .macbook-pro .group-12 {
    position: absolute;
    width: 204px;
    height: 29px;
    top: 167px;
    left: 0;
  }
  
  .macbook-pro .group-13 {
    position: absolute;
    width: 104px;
    height: 29px;
    top: 0;
    left: 0;
  }
  
  .macbook-pro .text-wrapper-13 {
    top: 6px;
    left: 71px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-text-normal);
    position: absolute;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .overlap-5 {
    position: absolute;
    width: 100px;
    height: 14px;
    top: 8px;
    left: 104px;
  }
  
  .macbook-pro .rectangle-7 {
    position: absolute;
    width: 100px;
    height: 3px;
    top: 5px;
    left: 0;
    border-radius: 21px;
    background: linear-gradient(
      180deg,
      rgb(196.45, 196.45, 196.45) 0%,
      rgb(227.26, 227.26, 227.26) 100%
    );
  }
  
  .macbook-pro .ellipse-11 {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    left: 27px;
    background-color: var(--collection-1-text-normal);
    border-radius: 7px;
    border: 1px solid;
    border-color: #ffffff;
    box-shadow: 0px 0px 3px #0000001a;
  }
  
  .macbook-pro .group-14 {
    position: absolute;
    width: 104px;
    height: 29px;
    top: 89px;
    left: 104px;
  }
  
  .macbook-pro .text-wrapper-14 {
    left: 80px;
    position: absolute;
    top: 6px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-text-normal);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .frame-wrapper {
    position: absolute;
    width: 179px;
    height: 22px;
    top: 0;
    left: 0;
  }
  
  .macbook-pro .frame-16 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
  }
  
  .macbook-pro .parameters-layout {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inria Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--collection-1-text-light);
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .span {
    color: #091021cc;
  }
  
  .macbook-pro .text-wrapper-15 {
    color: #0910214c;
    font-size: 16px;
  }
  
  .macbook-pro .text-wrapper-16 {
    color: #09102199;
    font-size: 16px;
  }
  
  .macbook-pro .rectangle-8 {
    position: absolute;
    width: 32px;
    height: 3px;
    top: 7px;
    left: 110px;
    background-color: var(--collection-1-text-light);
    border-radius: 9px;
  }
  
  .macbook-pro .group-15 {
    position: absolute;
    width: 362px;
    height: 742px;
    top: 821px;
    left: 1737px;
  }
  
  .macbook-pro .overlap-6 {
    position: relative;
    width: 356px;
    height: 742px;
    border-radius: 8px;
    box-shadow: var(--panel-shadow);
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.5) 37.5%,
      rgba(255, 255, 255, 0.7) 100%
    );
  }
  
  .macbook-pro .yours-shape {
    position: absolute;
    top: 412px;
    left: 118px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-17 {
    color: #09102199;
  }
  
  .macbook-pro .text-wrapper-18 {
    font-family: "Inria Sans-Light", Helvetica;
    font-weight: 300;
    color: #0910214c;
  }
  
  .macbook-pro .rectangle-9 {
    position: absolute;
    width: 90px;
    height: 3px;
    top: 10px;
    left: 133px;
    background-color: var(--collection-1-text-light);
    border-radius: 9px;
  }
  
  .macbook-pro .frame-17 {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: absolute;
    top: 27px;
    left: 18px;
  }
  
  .macbook-pro .text-wrapper-19 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inria Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--collection-1-text-emphasise);
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .frame-18 {
    display: flex;
    width: 356px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
    position: absolute;
    top: 56px;
    left: 0;
    background-color: var(--collection-1-bg);
  }
  
  .macbook-pro .text-wrapper-20 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inria Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--collection-1-text-normal);
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .frame-19 {
    display: flex;
    width: 356px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
    position: absolute;
    top: 350px;
    left: 0;
    background-color: var(--collection-1-bg);
  }
  
  .macbook-pro .frame-20 {
    display: flex;
    width: 356px;
    align-items: center;
    justify-content: space-between;
    padding: 6px 18px;
    position: absolute;
    top: 98px;
    left: 0;
    background-color: var(--collection-1-bg-light);
  }
  
  .macbook-pro .text-wrapper-21 {
    position: relative;
    width: fit-content;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #bfbfc0;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-pro .frame-21 {
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
  }
  
  .macbook-pro .text-wrapper-22 {
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-text-normal);
    font-size: 16px;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .vector-6 {
    position: relative;
    width: 62.5px;
    height: 1px;
  }
  
  .macbook-pro .text-wrapper-23 {
    align-self: stretch;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-text-normal);
    font-size: 16px;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .frame-22 {
    gap: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .macbook-pro .group-16 {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: var(--collection-1-theme-color);
    border-radius: 5px;
  }
  
  .macbook-pro .vector-7 {
    position: relative;
    width: 13.75px;
    height: 10px;
  }
  
  .macbook-pro .group-17 {
    position: relative;
    width: 14px;
    height: 14px;
  }
  
  .macbook-pro .overlap-group-4 {
    position: relative;
    height: 14px;
    border-radius: 7px;
  }
  
  .macbook-pro .ellipse-12 {
    position: absolute;
    width: 9px;
    height: 9px;
    top: 2px;
    left: 2px;
    border-radius: 4.67px;
    border: 0.7px solid;
    border-color: #c6c6c6;
  }
  
  .macbook-pro .ellipse-13 {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    border-radius: 7px;
    border: 0.4px solid;
    border-color: #c6c6c6;
  }
  
  .macbook-pro .polygon {
    position: relative;
    width: 8.66px;
    height: 7.5px;
  }
  
  .macbook-pro .frame-23 {
    display: flex;
    width: 356px;
    align-items: center;
    justify-content: space-between;
    padding: 6px 18px;
    position: absolute;
    top: 254px;
    left: 0;
    background-color: var(--collection-1-bg-light);
  }
  
  .macbook-pro .frame-24 {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    gap: 5px;
    position: relative;
  }
  
  .macbook-pro .frame-25 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 20px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .macbook-pro .frame-26 {
    display: flex;
    width: 356px;
    align-items: center;
    justify-content: space-between;
    padding: 6px 18px;
    position: absolute;
    top: 286px;
    left: 0;
    background-color: var(--collection-1-bg-light);
  }
  
  .macbook-pro .frame-27 {
    display: flex;
    width: 356px;
    align-items: center;
    justify-content: space-between;
    padding: 6px 18px;
    position: absolute;
    top: 318px;
    left: 0;
    background-color: var(--collection-1-bg-light);
  }
  
  .macbook-pro .frame-28 {
    display: flex;
    width: 356px;
    align-items: center;
    justify-content: space-between;
    padding: 6px 18px 6px 38px;
    position: absolute;
    top: 158px;
    left: 0;
    opacity: 0.7;
  }
  
  .macbook-pro .group-18 {
    position: relative;
    width: 16px;
    height: 16px;
    top: 1px;
    left: 1px;
    border-radius: 8.1px;
    border: 1px dashed;
    border-color: var(--collection-1-text-normal);
  }
  
  .macbook-pro .overlap-group-5 {
    position: relative;
    width: 11px;
    height: 11px;
    top: 3px;
    left: 3px;
    border-radius: 5.33px;
    border: 1px dashed;
    border-color: var(--collection-1-text-normal);
  }
  
  .macbook-pro .ellipse-14 {
    position: relative;
    width: 5px;
    height: 5px;
    top: 2px;
    left: 2px;
    border-radius: 2.57px;
    border: 1px solid;
    border-color: var(--collection-1-text-normal);
  }
  
  .macbook-pro .frame-29 {
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
  }
  
  .macbook-pro .text-wrapper-24 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-text-normal);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .frame-30 {
    display: flex;
    width: 356px;
    align-items: center;
    justify-content: space-between;
    padding: 6px 18px 6px 38px;
    position: absolute;
    top: 190px;
    left: 0;
    opacity: 0.7;
  }
  
  .macbook-pro .text-wrapper-25 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-text-normal);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .frame-31 {
    display: flex;
    width: 356px;
    align-items: center;
    justify-content: space-between;
    padding: 6px 18px 6px 38px;
    position: absolute;
    top: 222px;
    left: 0;
    opacity: 0.7;
  }
  
  .macbook-pro .frame-32 {
    display: inline-flex;
    flex-direction: column;
    height: 350px;
    align-items: flex-start;
    gap: 18px;
    padding: 18px;
    position: absolute;
    top: 392px;
    left: 0;
    background-color: var(--collection-1-bg-light);
    border-radius: 0px 0px 0px 8px;
  }
  
  .macbook-pro .frame-33 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .macbook-pro .text-wrapper-26 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inria Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--collection-1-text-normal);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .frame-34 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .macbook-pro .text-wrapper-27 {
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inria Sans-Light", Helvetica;
    font-weight: 300;
    color: var(--collection-1-text-normal);
    font-size: 14px;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-28 {
    position: relative;
    align-self: stretch;
    font-family: "Inria Sans-Light", Helvetica;
    font-weight: 300;
    color: var(--collection-1-text-light);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-29 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inria Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--collection-1-text-light);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-pro .text-wrapper-30 {
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inria Sans-Light", Helvetica;
    font-weight: 300;
    color: var(--collection-1-text-light);
    font-size: 14px;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .overlap-7 {
    position: absolute;
    width: 67px;
    height: 25px;
    top: 705px;
    left: 270px;
    background-color: var(--collection-1-theme-color);
    border-radius: 6px;
  }
  
  .macbook-pro .text-wrapper-31 {
    position: absolute;
    top: 4px;
    left: 21px;
    font-family: "Inria Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .overlap-8 {
    position: absolute;
    width: 67px;
    height: 25px;
    top: 705px;
    left: 191px;
    background-color: var(--collection-1-bg);
    border-radius: 6px;
  }
  
  .macbook-pro .text-wrapper-32 {
    position: absolute;
    top: 4px;
    left: 12px;
    font-family: "Inria Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--collection-1-text-light);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .frame-35 {
    display: flex;
    flex-wrap: wrap;
    width: 214px;
    align-items: center;
    gap: 18px 18px;
    position: absolute;
    top: 454px;
    left: 123px;
  }
  
  .macbook-pro .rectangle-10 {
    position: relative;
    width: 96px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 2px solid;
    border-color: transparent;
    box-shadow: var(--component-shadow);
    border-image: linear-gradient(
        to bottom,
        rgba(9.81, 19.12, 43.67, 0.25),
        rgba(10, 19, 44, 0.1)
      )
      1;
  }
  
  .macbook-pro .rectangle-11 {
    position: relative;
    width: 96px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: var(--component-shadow);
  }
  
  .macbook-pro .rectangle-12 {
    position: relative;
    width: 96px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 2px 4px 8px #004aff08;
  }
  
  .macbook-pro .frame-36 {
    display: flex;
    width: 436px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 18px;
    position: absolute;
    top: 821px;
    left: 1036px;
    border-radius: 8px;
    box-shadow: var(--panel-shadow);
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.5) 37.5%,
      rgba(255, 255, 255, 0.7) 100%
    );
  }
  
  .macbook-pro .frame-37 {
    display: inline-flex;
    align-items: center;
    gap: 9px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .macbook-pro .iconly-sharp-bulk {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .macbook-pro .text-wrapper-33 {
    position: relative;
    width: fit-content;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .frame-38 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 4px 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--collection-1-theme-color);
    border-radius: 6px;
  }
  
  .macbook-pro .text-wrapper-34 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inria Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .iconly-sharp-bulk-2 {
    position: relative;
    width: 12px;
    height: 12px;
  }
  