:root {
    --panel-shadow: 2px 4px 16.600000381469727px 0px rgba(0, 74, 255, 0.05);
    --component-shadow: 2px 4px 8px 0px rgba(0, 74, 255, 0.03);
    --collection-1-text-normal: rgba(9, 16, 33, 0.6);
    --collection-1-text-emphasise: rgba(9, 16, 33, 0.8);
    --collection-1-text-light: rgba(9, 16, 33, 0.3);
    --collection-1-theme-color: rgba(60, 112, 249, 1);
    --collection-1-bg: rgba(18, 36, 82, 0.05);
    --collection-1-bg-light: rgba(18, 36, 82, 0.02);
  }
  