.leftpanel {
  display: flex;
  align-items: center;
  position: absolute;
  left: 40px;
  top: 100px;
  border-radius: 15px;
  width: 250px;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 4px 16.6px 0px rgba(0, 74, 255, 0.05);
}

.leftpanel .panel {
  display: flex;
  margin: 20px 20px;
  z-index: 0;
  flex-direction: column;
}

.leftpanel .title {
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 1;
  height: auto;
}
.panel .title span {
  color: var(--text-normal, rgba(9, 16, 33, 0.6));
  font-family: "Inria Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.leftpanel .icon {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-top: 15px;
}

.leftpanel h1 {
  text-align: center;
  font-family: "Inria Sans-Bold", Helvetica;
  font-weight: 700;
  color: #091021cc;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 0px;
  z-index: 1;
}

.leftpanel .text {
  position: absolute;
  top: 0;
  font-family: "Inria Sans-Bold", Helvetica;
  font-weight: 700;
  color: var(--collection-1-text-normal);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.leftpanel .titleimg {
  position: relative;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.leftpanel .img {
  width: 18px;
}
/* .leftpanel .imgframe .img {
  align-items: center;
} */

.leftpanel .imgframe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
  border: none;
  background: none;
  margin-right: 12px;
  cursor: pointer; /* 鼠标变为手型 */
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

.leftpanel .parameter {
  width: 210px;
  height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}

.parabox {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border: 0.5px solid #848791;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.twoblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.twoblock .parabox {
  width: 80px;
}

.parabox span {
  color: var(--text-normal, rgba(9, 16, 33, 0.6));
  font-family: "Inria Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.parabox input {
  color: rgba(9, 16, 33, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 30px;
}

.leftpanel .parabox button {
  border-radius: 4px;
  background: rgba(60, 112, 249, 0.8);
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  color: #fff;
  font-family: "Inria Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.imgframe.selected {
  background: rgba(60, 112, 249, 0.8);
}

.noborder-input {
  border: none; /* 去掉边框 */
  outline: none; /* 去掉聚焦时的默认边框 */
  background: transparent; /* 背景透明 */
  color: var(--text-normal, rgba(9, 16, 33, 0.6));
  font-family: "Inria Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 50px; /* 设置宽度，可根据需要调整 */
  text-align: right; /* 文本居中 */
}

.twoblock .bluebutton {
  border-radius: 4px;
  background-color: rgba(60, 112, 249, 0.8);
  width: 100px;
  height: 30px;
  display: flex; /* 使用 Flexbox 布局 */
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  color: #fff;
  font-family: "Inria Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

/* 隐藏非当前参数部分 */
.leftpanel .parameter-container .parameter {
  display: none;
}

/* 显示当前选中的参数部分 */
.leftpanel .parameter-container .parameter.visible {
  display: flex;
}
