.toolbar {
  position: absolute;
  bottom: 120px;
  left: 500px;
  /* left: 50%;
    transform: translateX(-50%); */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  z-index: 10;
}

.toolbar .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  border-radius: 8px;
  background: var(
    --panel-color,
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.5) 37.5%,
      rgba(255, 255, 255, 0.7) 100%
    )
  );

  /* panel shadow */
  box-shadow: 2px 4px 16.6px 0px rgba(0, 74, 255, 0.05);
}

.toolbar .unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45px;
  gap: 4px;
  margin-right: 12px;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* 动画过渡效果 */
}

.toolbar .wideunit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  gap: 4px;
  padding: 0;
}

.toolbar .text {
  text-align: center;
  color: var(--text-normal, rgba(9, 16, 33, 0.6));
  font-family: "Inria Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-right: 12px;
}

.toolbar .img {
  width: 25px;
  height: 25px;
  padding-right: 12px;
  border-right: 0.5px solid rgba(9, 16, 33, 0.3);
}

.toolbar .midimg {
  width: auto;
  height: 20px;
  padding-right: 12px;
}

/* 点击时效果 */
.unit:active {
  transform: scale(0.95); /* 点击时缩小 */
}
