.toolbar {
  display: flex;
  align-items: center;
  justify-self: start;
  width: 100vw;
  height: 20px;
}
.toolbar button {
  width: 80px;
  height: 20px;
  margin-right: 10px;
}

.toolbar .line {
  margin: 0 20px;
}
